:root {
	--primary-color: #ee4d2d;
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--border-color: #dbdbdb;
	--star-gold-color: #FFCE3E

	--header-height: 120px;
	--navbar-height: 43px;
	--header-with-search-height: calc(var(--header-height) - var(--navbar-height));
	--header__search: 40px;
}

* {
	box-sizing: inherit;
}

html {
	/* HACK */
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

/* Responsive */
.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.grid__full-width {
	width: 100%;
}

.grid__row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

.grid__column-2 {
	padding-left: 5px;
	padding-right: 5px;
	width: 16.6667%;
}

.grid__column-2-4 {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.grid__column-8 {
	padding-left: 5px;
	padding-right: 5px;
	width: 66.6667%;
}

.grid__column-10 {
	padding-left: 5px;
	padding-right: 5px;
	width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes headerNotifyGrowth {
	from {
		transform: scale(0);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes growth {
	from {
		transform: scale(var(--growth-from));
		opacity: 0;
	}

	to {
		transform: scale(var(--growth-to));
		opacity: 1;
	}
}

/* Modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	animation: fadeIn linear 0.1s;
}

.modal__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.modal__body {
	--growth-from: 0.7;
	--growth-to: 1;
	background-color: var(--white-color);
	border-radius: 5px;
	margin: auto;
	z-index: 2;
	animation: growth linear 0.1s;
}

.btn {
	height: 36px;
	min-width: 142px;
	text-decoration: none;
	background-color: var(--white-color);
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 1.4rem;
	color: var(--text-color);
	padding: 0 10px;
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
	opacity: 1;
}

.btn.btn--size-s {
	height: 32px;
	min-width: 142px;
	font-size: 12px;
}

.btn.btn--primary {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.btn.btn--with-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn--disabled,
.btn--disabled:hover {
	color: #ccc;
	background-color: #999;
	cursor: default;
}

/* Select Ịnput */
.select-input {
	height: 34px;
	padding: 0 12px;
	border-radius: 2px;
	background-color: var(--white-color);
	min-width: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 200px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.select-input:hover .select-input__list {
	display: block;
}

.select-input__label {
	font-size: 1.4rem;
}

.select-input-icon {
	font-size: 1.4rem;
	color: rgb(131, 131, 131);
	position: relative;
	top: 1px;
}

.select-input__list {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	background-color: var(--white-color);
	border-radius: 2px;
	padding: 14px 16px;
	list-style-type: none;
	display: none;
}

.select-input__list::before {
	content: "";
	position: absolute;
	top: -5%;
	left: 0%;
	display: block;
	width: 100%;
	height: 5px;
}

.select-input__item {
}

.select-input__item + .select-input__item {
	margin-top: 12px;
}

.select-input__link {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	font-weight: 400;
}

.select-input__link:hover {
	color: var(--primary-color);
}
